@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .no-scroll::-webkit-scrollbar {
        display: none;
    }

    body {
        @apply font-poppins;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    .no-spinner {
        -moz-appearance: textfield;
    }

    button:disabled .disabled-button {
        @apply opacity-15 cursor-default transition-all duration-300;
    }
    
}
